fastapi
uvicorn
tensorflow
numpy
pydantic
pandas
scikit-learn
matplotlib
seaborn
requests
sqlalchemy
joblib
PyMuPDF
python-multipart
pytesseract
pdf2image
pillow
spacy
pandarallel
tqdm
